<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      Contact App
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label stacked>Name</ion-label>
      <ion-input type="text" [(ngModel)]="formData.name"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label stacked>Email</ion-label>
      <ion-input type="email" [(ngModel)]="formData.email"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label stacked>Phone</ion-label>
      <ion-input type="number" [(ngModel)]="formData.phone"></ion-input>
    </ion-item>
  </ion-list>

  <ion-grid padding-horizontal>
    <ion-row>
      <ion-col>
        <button ion-button block icon-start (click)="addContact()">
          <ion-icon name="folder"></ion-icon>
          Save
        </button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-6>
        <button
          ion-button
          block
          icon-start
          color="danger"
          (click)="removeAllContact()"
        >
          <ion-icon name="trash"></ion-icon>
          Remove All
        </button>
      </ion-col>
      <ion-col col-6>
        <button
          ion-button
          block
          icon-start
          color="secondary"
          (click)="toggleShowContacts()"
        >
          <ion-icon name="menu"></ion-icon>
          {{ showContacts ? "Hide Data" : "Show Data" }}
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div class="subtitle">
    <h5>Your Contacts</h5>
  </div>
  <!-- 
  <div padding-vertical class="loading">
    <ion-spinner></ion-spinner>
  </div> -->

  <ion-list *ngIf="showContacts === true">
    <ion-item *ngFor="let contact of contacts">
      <h2>{{ contact.name }}</h2>
      <h3>{{ contact.email }}</h3>
      <p>{{ contact.phone }}</p>
      <button
        ion-button
        item-end
        color="danger"
        (click)="removeContact(contact)"
      >
        <ion-icon name="trash"></ion-icon>
      </button>
    </ion-item>
  </ion-list>
</ion-content>
