page-home {
  ion-list {
    margin-bottom: 0 !important;
  }

  .subtitle {
    text-align: center;
    border-top: 1px lightgray solid;
    border-bottom: 1px lightgray solid;

    h5 {
      margin: 15px 0 !important;
      padding: 0 !important;
    }
  }

  .loading {
    text-align: center;
  }
}
